body{
    height: 100vh;
    margin: 0;
}

/* -------- Table styling -------- */
table {
    width: 100%;
    max-width: 600px;
    height: auto;
    table-layout: fixed;
    overflow: hidden;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

th, td { /* Head and Content merged */
    font-size: 12px;
    height: fit-content;
    border: 1px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th { /* Head */
    padding: 2px;
    text-align: center;
    background: rgba(20, 19, 43, 1);
    color: white;
}

td { /* Content */
    padding: 5px;
    text-align: right;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e2f7e2;
}

/* -------- Custom table styling -------- */
.customTable {
    width: 98%;
    min-height: 100px;
    height: auto;
    overflow-x: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.customTableColumn {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.customTableColumnHeader {
    position: sticky;
    white-space: nowrap;
    top: 0;
    background-color: #f0f0f0;
    z-index: 1;
}

.customTableCell, .customTableCellHeader {
    width: fit-content;
    min-width: 100%;
    min-height: 22px;
    overflow: hidden;
    padding: 6px 10px;
    border-top: 1px solid #ddd;
}

.customTableCell {
    text-align: right;
}

.customTableCellHeader {
    background: rgb(57, 56, 70);
    color: white;
}

/* -------- Links styling -------- */
a {
    width: fit-content;
    font-size: 1.2em;
    color: #4CAF50;
    text-decoration: none;
    border: 2px solid #4CAF50;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

a:hover {
    background-color: #4CAF50;
    color: white;
}

/* -------- Canvas styling -------- */
.canvaStyle {
    border: 1px solid black;
}

#stockChart {
    width: 50%;
    height: 300px;
    font-size: 10px;
}

#incomeStatementChart {
    width: 80%;
    max-width: 800px;
    height: 250px;
    max-height: 350px;
    border: 1px solid rgba(20, 19, 43, 0.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* -------- Main Boxes -------- */
.contentBox{
    width: 100%;
    min-height: 78vh;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border: 0px solid red;
}

.mainCenterBox {
    width: 69.6%;
    margin: 0 0.2% 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0 5px;
    align-items: center;
    border: 0px solid red;
}

.mainLeftBox, .mainRightBox {
    min-height: 400px;
    background-color: rgba(230, 240, 239, 0.8);
    border: 0px solid red;
}

.mainLeftBox {
    width: 10%;
    background-color: rgba(230, 240, 239, 0.8);
    border-right: 1px solid rgb(77, 91, 149);
}

.mainRightBox {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgb(77, 91, 149);
}

.overviewTableBox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: auto;
}

.incomeStatementBox{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow-x: auto;
    border: 0px solid red;
}

@media (max-width: 900px) {
    table {
        width: 100%;
        max-width: 400px;
    }

    th { /* head */
        font-size: 8px;
        padding: 2px;
    }
    
    td {
        font-size: 8px;
        padding: 2px;
    }
}
