<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stock Charts</title>

    <link rel="stylesheet" type="text/css" href="/css/stockChartsStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/headerFooter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="header"></div>
    
    <div class="contentBox">
        <canvas id="stockChart" class="canvaStyle"></canvas>

        <div class="financialDataBox">
            <table>
                <thead>
                    <tr>
                        <th>Fiscal Date Ending</th>
                        <th>Currency</th>
                        <th>Gross Profit</th>
                        <th>Total Revenue</th>
                        <th>Operating Income</th>
                        <th>Net Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="report : ${annualReports}">
                        <td th:text="${report.fiscalDateEnding}" style="text-align: center;"></td>
                        <td th:text="${report.reportedCurrency}" style="text-align: center;"></td>
                        <td th:text="${report.grossProfit}"></td>
                        <td th:text="${report.totalRevenue}"></td>
                        <td th:text="${report.operatingIncome}"></td>
                        <td th:text="${report.netIncome}"></td>
                    </tr>
                </tbody>
            </table>
            <div class="financialChartBox">
                <select id="dataSelection">
                    <option value="netIncome" selected>Net Income</option>
                    <option value="grossProfit">Gross Profit</option>
                    <option value="totalRevenue">Total Revenue</option>
                    <option value="operatingIncome">Operating Income</option>
                </select>
                <canvas id="annualReportChart" class="canvaStyle"></canvas>
            </div>
        </div>
    </div>

    <div id="footer"></div>
    <script src="/js/header.js"></script>
</body>
</html>

<script>
    function chartFunc(labels, data, labelsName, dataName, chartName, width){
        // console.log(labels);
        // console.log(data);
        const ctx = document.getElementById(chartName).getContext('2d');
        ctx.canvas.width = width;
        ctx.canvas.height = 400;

        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: dataName,
                    data: data,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderWidth: 2,
                    fill: true,
                    pointRadius: 0
                }]
            },
            options: {
                responsive: false,
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: labelsName
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: dataName
                        }
                    }
                }
            }
        });
        return chart;
    }
</script>

<script th:inline="javascript">
    // Main chart showing stock price
    const stockData = /*[[${stocks}]]*/ [];
    const labels = stockData.map(stock => stock.date);
    const data = stockData.map(stock => stock.price);
    const labelsName = "Date";
    const dataName = "Price (USD)";
    const width = 1200;
    chartFunc(labels, data, labelsName, dataName, "stockChart", width);

    // Chart showing income statement data
    const finRepAnnualData = /*[[${annualReports}]]*/ [];
    const dataSelection = document.getElementById('dataSelection');
    let chart;

    function updateChart(selectedData) {
        const frlabels = finRepAnnualData.map(report => report.fiscalDateEnding);
        const frdata = finRepAnnualData.map(report => report[selectedData]);
        const frlabelsName = "Date";
        const frdataName = selectedData;
        const frwidth = 700;

        if (chart) {
            chart.destroy();
        }
        chart = chartFunc(frlabels, frdata, frlabelsName, frdataName, "annualReportChart", frwidth);
    }

    updateChart(dataSelection.value);

    dataSelection.addEventListener('change', function() {
        updateChart(this.value);
        console.log("Chart update");
    });
</script>
